pre{
	font-size: 18px;
	white-space: pre-wrap;
	background: #272822;
	color: #f8f8f2;
}

.angle{
	color:#639ed6;
	font-weight: bold;
}

.tagname{
	color:#f92672;
	font-weight: bold;
}

.attrname{
	color:#9f74cc;
}

.attrvalue{
	color:#69b886;
}